<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Service.ClientTags" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Service.ClientTags>
            <setting name="TagList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>{94e48483-ebc4-44fd-a802-f8574d1d66d0}</string>
                        <string>{917e7edc-c6f0-47df-b852-e680a524a379}</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Service.ClientTags>
    </applicationSettings>
</configuration>