<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Article ANY>
<!ATTLIST Article id ID #REQUIRED>
<!ELEMENT Bucket ANY>
<!ATTLIST Bucket id ID #REQUIRED>
<!ELEMENT Content ANY>
<!ATTLIST Content id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Site ANY>
<!ATTLIST Site id ID #REQUIRED>

]>
<root id="-1">
  <Site id="1050" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1048" template="1049" sortOrder="2" createDate="2012-07-07T16:56:04" updateDate="2012-07-07T17:00:31" nodeName="Test Site" urlName="test-site" writerName="admin" creatorName="admin" path="-1,1050" isDoc="">
    <HomePage id="1055" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1051" template="1052" sortOrder="1" createDate="2012-07-07T16:57:28" updateDate="2012-07-07T17:00:31" nodeName="Home" urlName="home" writerName="admin" creatorName="admin" path="-1,1050,1055" isDoc="">
      <Content id="1061" parentID="1055" level="3" writerID="0" creatorID="0" nodeType="1053" template="1054" sortOrder="1" createDate="2012-07-07T17:37:35" updateDate="2012-07-07T18:08:51" nodeName="Articles" urlName="articles" writerName="admin" creatorName="admin" path="-1,1050,1055,1061" isDoc="">
        <body><![CDATA[]]></body>
      </Content>
    </HomePage>
    <Bucket id="1056" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1046" template="1047" sortOrder="2" createDate="2012-07-07T16:57:38" updateDate="2012-07-07T19:03:01" nodeName="Articles" urlName="articles" writerName="admin" creatorName="admin" path="-1,1050,1056" isDoc="">
      <Article id="1057" parentID="1056" level="3" writerID="0" creatorID="0" nodeType="1044" template="1045" sortOrder="1" createDate="2012-07-07T16:58:03" updateDate="2012-07-07T19:03:01" nodeName="Article One" urlName="article-one" writerName="admin" creatorName="admin" path="-1,1050,1056,1057" isDoc="">
        <title>Article One</title>
        <summary>Article One</summary>
        <articleBody><![CDATA[]]></articleBody>
        <relatedArticle />
        <allowComments>0</allowComments>
      </Article>
      <Article id="1058" parentID="1056" level="3" writerID="0" creatorID="0" nodeType="1044" template="1045" sortOrder="2" createDate="2012-07-07T16:58:14" updateDate="2012-07-07T19:03:01" nodeName="Article Two" urlName="article-two" writerName="admin" creatorName="admin" path="-1,1050,1056,1058" isDoc="">
        <title>Article Two</title>
        <summary>Article Two</summary>
        <articleBody><![CDATA[]]></articleBody>
        <relatedArticle />
        <allowComments>0</allowComments>
      </Article>
      <Article id="1059" parentID="1056" level="3" writerID="0" creatorID="0" nodeType="1044" template="1045" sortOrder="3" createDate="2012-07-07T16:58:21" updateDate="2012-07-07T19:03:01" nodeName="Article Three" urlName="article-three" writerName="admin" creatorName="admin" path="-1,1050,1056,1059" isDoc="">
        <title>Article Three</title>
        <summary>Article Three</summary>
        <articleBody><![CDATA[]]></articleBody>
        <relatedArticle />
        <allowComments>0</allowComments>
      </Article>
    </Bucket>
  </Site>
</root>