<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=BELFASE\SQLEXPRESS;Initial Catalog=dbGravyframe.UI.CMS.EPiServer2;Integrated Security=False;User ID=dbUserdbGravyframe.UI.CMS.EPiServer2;Password=38378s_2U3;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>