<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Sitecore_EntityFrameworkEntities" connectionString="metadata=res://*/EntityFramework.Sitecore_EntityFramework.csdl|res://*/EntityFramework.Sitecore_EntityFramework.ssdl|res://*/EntityFramework.Sitecore_EntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GRAVYPOWER;initial catalog=Sitecore_EntityFramework;user id=SitecorePlay;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>