<!--This is and example configuration file for glass-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <Glass>
      <ObjectManager type="Glass.Sitecore.Mapper.ObjectCreation.CacheObjectManager" ObjectCache="HttpRuntimeCache">
        <SitecoreCache name ="SitecoreCache" type="Glass.Sitecore.Mapper.ObjectCaching.Implementations.SitecoreCache">
          <settings>
            <!--Cache size, only available if you are using the Sitecore cache-->
            <setting name="CacheSize">100MB</setting>

            <setting name="ReadWriteLockTimeout">0:0:30</setting>

            <!--The priority of an item in the HttpRuntimeCache: Lowest, Low, BelowNormal, Normal, AboveNormal, High, Highest, NeverRemove-->
            <setting name="CacheItemPriority">Normal</setting>

            <!--This is a TimeSpan or NoAbsoluteExpiration-->
            <setting name="CacheItemLifeTime">2:0:0</setting>
            <setting name="CacheItemSlidingExpiration">True</setting>
            <!--SitecoreCache-->
          </settings>
        </SitecoreCache>
        <HttpRuntimeCache name="HttpRuntimeCache" type="Glass.Sitecore.Mapper.ObjectCaching.Implementations.HttpRuntimeCache">
          <settings>
            <!--HttpRuntimeCache-->
            <!--The priority of an item in the HttpRuntimeCache -->
            <!--http://msdn.microsoft.com/en-us/library/system.web.caching.cacheitempriority(v=vs.100).aspx-->
            <setting name="CacheItemPriority">Normal</setting>

            <setting name="ReadWriteLockTimeout">0:0:30</setting>

            <!--This is a TimeSpan or NoAbsoluteExpiration-->
            <setting name="CacheItemLifeTime">2:0:0</setting>
            <setting name="CacheItemSlidingExpiration">0:15:0</setting>

            <!--HttpRuntimeCache-->
          </settings>
        </HttpRuntimeCache>
      </ObjectManager>
    </Glass>
  </sitecore>
</configuration>
