<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <search>
      <configuration>
        <indexes>
          <index id="WhiteLabelNews" type="Sitecore.Search.Index, Sitecore.Kernel">
            <param desc="name">$(id)</param>
            <param desc="folder">WhiteLabelNews</param>
            <Analyzer ref="search/analyzer"/>
            <locations hint="list:AddCrawler">
              <WhiteLabelNews type="WhiteLabelKernel.Search.Sitecore.WhiteLabelNewsCrawler,WhiteLabelKernel.Search.Sitecore">
                <Database>web</Database>
                <Root>/sitecore/content</Root>
                <IndexAllFields>false</IndexAllFields>
                <Tags>WhiteLabelNews</Tags>

                <include hint="list:IncludeTemplate">
                  <WhiteLabelNews>{53D907C1-9A95-44B7-99CE-82B1E78D9798}</WhiteLabelNews>
                </include>

                <include hint="list:ExcludeField">
                  <__revision>{8CDC337E-A112-42FB-BBB4-4143751E123F}</__revision>
                  <__context>{D3AE7222-425D-4B77-95D8-EE33AC2B6730}</__context>
                  <__security>{DEC8D2D5-E3CF-48B6-A653-8E69E2716641}</__security>
                  <__renderings>{F1A1FE9E-A60C-4DDB-A3A0-BB5B29FE732E}</__renderings>
                </include>

                <include hint="list:IncludeField">
                  <title>{B8BA0427-C9FC-4C62-A0B8-66B860859B81}</title>
                  <summary>{82C711F8-0F94-45B4-B0C8-0C3CC849EB76}</summary>
                  <Body>{7372CF66-39F4-4B83-8C1E-A000F03CE467}</Body>
                  <Date>{35E386DD-00FE-4716-94E8-1B0213A7A5D3}</Date>
                </include>

                <fieldCrawlers hint="raw:AddFieldCrawlers">
                  <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.LookupFieldCrawler,scSearchContrib.Crawler" fieldType="Droplink" />
                  <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.LookupFieldCrawler,scSearchContrib.Crawler" fieldType="Droptree" />
                  <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.DateFieldCrawler,scSearchContrib.Crawler" fieldType="Datetime" />
                  <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.DateFieldCrawler,scSearchContrib.Crawler" fieldType="Date" />
                  <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.NumberFieldCrawler,scSearchContrib.Crawler" fieldType="Number" />
                </fieldCrawlers>

                <!-- If a field type is not defined, defaults of storageType="NO", indexType="UN_TOKENIZED" vectorType="NO" boost="1f" are applied-->
                <fieldTypes hint="raw:AddFieldTypes">
                  <!-- Text fields need to be tokenized -->
                  <fieldType name="single-line text" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                  <fieldType name="multi-line text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                  <fieldType name="word document" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                  <fieldType name="html" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                  <fieldType name="rich text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                  <fieldType name="memo" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                  <fieldType name="text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                  <!-- Multilist based fields need to be tokenized to support search of multiple values -->
                  <fieldType name="multilist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                  <fieldType name="treelist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                  <fieldType name="treelistex" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                  <fieldType name="checklist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                  <!-- Legacy tree list field from ver. 5.3 -->
                  <fieldType name="tree list" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                </fieldTypes>

              </WhiteLabelNews>

            </locations>
          </index>
        </indexes>
      </configuration>
    </search>
  </sitecore>
</configuration>
