<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <events>
      <event name="item:saved">
        <handler type="WebsiteKernel.Sitecore.Cms.Events.Implementation.WebsiteNewsEvent, WebsiteKernel.Sitecore" method="OnItemSave" />
        <handler type="WebsiteKernel.Sitecore.Cms.Events.Implementation.WebsiteEventEvent, WebsiteKernel.Sitecore" method="OnItemSave" />
      </event>
    </events>

    <pipelines>
      <getContentEditorFields>
        <processor type="WebsiteKernel.Sitecore.Pipelines.GetContentEditorFields.Implementation.CmsContextItem, WebsiteKernel.Sitecore"
        patch:before="processor[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.GetContentEditorFields.GetExplicitFields, Sitecore.Client']"/>
      </getContentEditorFields>
    </pipelines>


    <settings>
      <setting name="Website.ClientTag" value="{94e48483-ebc4-44fd-a802-f8574d1d66d0}" />
      <setting name="CMS.ClientTag" value="{917e7edc-c6f0-47df-b852-e680a524a379}" />
    </settings>
    <sites>
      <site name="whirrakee" patch:before="site[@name='website']"
                virtualFolder="/"
                physicalFolder="/"
                rootPath="/sitecore/content/Whirrakee"
                startItem="/home"
                hostName="whirrakee.sitecore.local"
                database="web"
                domain="extranet"
                allowDebug="true"
                cacheHtml="true"
                htmlCacheSize="10MB"
                enablePreview="true"
                enableWebEdit="true"
                enableDebugger="true"
                disableClientData="false"/>
    </sites>

  </sitecore>
</configuration>
