<configuration>
  <sitecore>
    <settings>
      <setting name="WildcardTokenizedString" value=",-w-," />
    </settings>
    <wildcardManager defaultProvider="sitecore">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Marketing.Wildcards.WildcardProvider, Sitecore.Marketing.Wildcards" />
      </providers>
    </wildcardManager>
  </sitecore>
</configuration>